header {
  padding: 50px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

header > * {
  display: flex;
  text-align: center;
}

.logo, .anchorLink {
  color: var(--secondary-color);
}

.logo {
  flex: 3;
  font-size: 32px;
  font-weight: 900;
  z-index: 101;
}

nav {
  flex: 7;
  z-index: 101;
}

.top {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
}

.bottom {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%) rotate(-45deg);
  -webkit-transform: translate(50%, 50%) rotate(-45deg);
  -moz-transform: translate(50%, 50%) rotate(-45deg);
  -ms-transform: translate(50%, 50%) rotate(-45deg);
  -o-transform: translate(50%, 50%) rotate(-45deg);
}

.top,
.bottom,
.center {
  background-color: var(--primary-color);
}

.anchors {
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.menuBtn,
.anchorLink {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

.menuBtn {
  background: rgba(0, 0, 0, .5);
  outline: none;
  border: none;
  display: none;
  padding: 10px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

@media (width <= 600px) {
  header {
    padding: 50px 20px;
  }
  header > * {
    flex: inherit;
  }
  nav > * {
    position: fixed;
  }
  nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  .menuBtn {
    display: block;
  }

  .anchors {
    position: fixed;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .anchorLink {
    font-size: 32px;
  }
}